.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max(598px, 100%);
    height: 53px;
    padding: 0 15px;
    border-left: 2px solid $color-black-seven;
    border-right: 2px solid $color-black-seven;
}