.tweet-card {
    display: grid; 
    grid-template-columns: auto 1fr; 
    grid-template-rows: auto auto 1fr auto auto; 
    gap: 0px 0px; 
    grid-template-areas: 
        "avatar identification"
        "avatar tweet-text"
        "avatar image"
        "avatar tweet-buttons"
        "avatar show-thread";
    column-gap: 10px;
    row-gap: 8px;
    width: max(598px, 100%); 
    padding: 9px 15px 15px;
    border-top: 1px solid $color-black-seven;

    &__avatar {
        grid-area: avatar;
    }

    &__identity {
        grid-area: identification;
        display: flex;
        gap: 6px;
    }

    &__content {
        grid-area: tweet-text; 
        line-break: anywhere;
    }

    &__image {
        grid-area: image; 
        margin-top: 6px;
        height: 35vh;

        &--content {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            border: 1px solid $color-black-four;
        }
    }

    &__actions {
        grid-area: tweet-buttons;
        margin-top: 6px; 
        padding-right: 5%;
    }

    &__show-thread {
        grid-area: show-thread;
        margin-top: 6px; 
    }
}