%button {
    background-color: $color-primary-blue;
    width: 228px;
    border-radius: 100px;
    font-weight: 700;
}

.btn--primary {
    @extend %button;
    color: $color-white;
}

.btn--secondary {
    @extend %button;
    color: $color-primary-blue;
    background-color: transparent;
    border: 1px solid $color-primary-blue;
}

.btn--small {
    height: 30px;
}

.btn--medium {
    height: 39px;
}

.btn--big {
    height: 49px;
}

.btn--smaller {
    width: fit-content;
    padding: 0 1rem;
}

.btn--invert-primary {
    color: $color-black;
    background-color: $color-black-seven;
    border: none;
}

.btn--invert-secondary {
    color: $color-black-seven;
    background-color: transparent;
    border: 1px solid $color-black-seven;
}