.content-container {
    width: 350px;
    height: fit-content;
    max-height: 457px;
    background-color: $color-black-eight;
    border-radius: 16px;
    $content-padding: 11px 16px;

    &__title {
        font-size: 1.25rem;
        padding: $content-padding;
        border-bottom: 1px solid $color-black-seven;
    }

    &--placeholder {
        height: 300px;
    }

    &__show-more a {
        font-size: 1rem;
        padding: $content-padding;
        margin-top: 3px;
    }
}
