%heading {
    font-weight: 700;
    color: $color-black;
}

.heading-1 {
    @extend %heading;
    font-size: 1.1875rem;
}

.heading-2,
.heading-3 {
    @extend %heading;
    font-weight: 600;
    font-size: 1rem;
}

.heading-3 {
    @extend %heading;
    color: $color-black-five;
}