.input-text {
    width: 507px;
    max-width: 100%;
    height: 49px;
    border: none;
    resize: none;
    background-color: transparent;
    font-size: 1.25rem;
    padding-top: 15px;

    &::placeholder {
        color: $color-black-five;
        font-weight: 600;
        //transform:translate3d(0,50%,0);
    }

    &:focus {
        outline: none;
        height: 70px;
    }
}