.input-search {
    background-color: $color-black-seven;
    border: none;
    border-radius: 100px;
    padding: 10px 50px;
    width: 348px;
    max-width: 100%;
    background-image: url('/assets/img/glass.svg');
    background-repeat: no-repeat;
    background-position: 15px center;
    color: $color-black-five;
    font-weight: 600;
}