.menu-item {
    list-style-type: none;
    @include flex(row, nowrap, none, center);

    &__icon {
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }

    &__link{
        font-size: 1.1875rem;
        font-weight: bold;
    }

    &:hover {
        filter: invert(51%) sepia(78%) saturate(1632%) hue-rotate(175deg) brightness(96%) contrast(98%);
    }

    &__other {
        color: $color-primary-blue;
        font-size: 0.875rem;
    }
}