// Colors

$color-black: #0F1419;
$color-black-one: #17202A;
$color-black-two: #1C2733;
$color-black-three: #283340;
$color-black-four: #3A444C;
$color-black-five: #5B7083;
$color-black-six: #8899A6;
$color-black-seven: #EBEEF0;
$color-black-eight: #F7F9FA;

$color-primary-blue: #1DA1F2;

$color-white: #FFFFFF;

//Utilities

$border-gray: 2px solid $color-black-seven;