/*
$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

html {
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul, ol, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Nunito", sans-serif;
}

.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  padding: 11px 10px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 598px;
  max-width: 100%;
  height: 53px;
  padding: 0 15px;
}

.post-card {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "avatar-icon text-area text-area" "avatar-icon post-buttons tweet-button";
  width: 556px;
  max-width: 100%;
  column-gap: 12px;
  padding: 10px 15px;
}
.post-card__avatar {
  grid-area: avatar-icon;
}
.post-card__input {
  grid-area: text-area;
}
.post-card__buttons {
  grid-area: post-buttons;
  display: flex;
  align-items: center;
}
.post-card__tweet-container {
  grid-area: tweet-button;
  display: flex;
  justify-content: flex-end;
}
.post-card__tweet {
  opacity: 0.5;
}

.tweet-card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr auto auto;
  gap: 0px 0px;
  grid-template-areas: "avatar identification" "avatar tweet-text" "avatar image" "avatar tweet-buttons" "avatar show-thread";
  column-gap: 10px;
  row-gap: 8px;
  width: min(598px, 100%);
  padding: 9px 15px 15px;
}
.tweet-card__avatar {
  grid-area: avatar;
}
.tweet-card__identity {
  grid-area: identification;
  display: flex;
  gap: 6px;
}
.tweet-card__content {
  grid-area: tweet-text;
}
.tweet-card__image {
  grid-area: image;
  margin-top: 6px;
}
.tweet-card__image--content {
  width: 100%;
  border-radius: 1rem;
}
.tweet-card__actions {
  grid-area: tweet-buttons;
  margin-top: 6px;
  padding-right: 9.55vw;
}
.tweet-card__show-thread {
  grid-area: show-thread;
  margin-top: 6px;
}

.menu-item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: center;
}
.menu-item__icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.menu-item__link {
  font-size: 1.1875rem;
  font-weight: bold;
}
.menu-item:hover {
  filter: invert(51%) sepia(78%) saturate(1632%) hue-rotate(175deg) brightness(96%) contrast(98%);
}
.menu-item__other {
  color: #1DA1F2;
  font-size: 0.875rem;
}

.btn--secondary, .btn--primary {
  background-color: #1DA1F2;
  width: 228px;
  border-radius: 100px;
  font-weight: 700;
}

.btn--primary {
  color: #FFFFFF;
}

.btn--secondary {
  color: #1DA1F2;
  background-color: transparent;
  border: 1px solid #1DA1F2;
}

.btn--small {
  height: 30px;
}

.btn--medium {
  height: 39px;
}

.btn--big {
  height: 49px;
}

.btn--smaller {
  width: fit-content;
  padding: 0 1rem;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.menu .logo {
  height: 30px;
  width: 30px;
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.avatar-icon--small {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.avatar__icon--medium {
  width: 49px;
  height: 49px;
  border-radius: 50%;
}

.profile {
  width: 255px;
  height: 69px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.profile__identification {
  display: flex;
  gap: 10px;
}

.theme-switch {
  width: 24px;
  height: 24px;
}

.heading-2,
.heading-3, .heading-1 {
  font-weight: 700;
  color: #0F1419;
}

.heading-1 {
  font-size: 1.1875rem;
}

.heading-2,
.heading-3 {
  font-weight: 600;
  font-size: 1rem;
}

.heading-3 {
  color: #5B7083;
}

.input-text {
  width: 507px;
  max-width: 100%;
  height: 49px;
  border: none;
  resize: none;
  background-color: transparent;
  font-size: 1.25rem;
  padding-top: 15px;
}
.input-text::placeholder {
  color: #5B7083;
  font-weight: 600;
}
.input-text:focus {
  outline: none;
  height: 70px;
}

.post-buttons-nav__list {
  display: flex;
  gap: 15px;
}

.post-timer__text {
  font-weight: 600;
  color: #5B7083;
}

.tweet-button {
  display: flex;
  align-items: center;
}
.tweet-button__icon {
  height: 24px;
  width: 24px;
}
.tweet-button__count {
  margin-left: 10px;
  padding-top: 5px;
  color: #5B7083;
  font-weight: 600;
}

.tweet-buttons {
  width: max(509px, 29.23vw);
}
.tweet-buttons__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spacer {
  width: max(598px, 100%);
  height: 10px;
  color: #F7F9FA;
}
.spacer--outline {
  border: 1px solid black;
}

.input-search {
  background-color: #EBEEF0;
  border: none;
  border-radius: 100px;
  padding: 10px 50px;
  width: 348px;
  max-width: 100%;
  background-image: url("/assets/img/glass.svg");
  background-repeat: no-repeat;
  background-position: 15px center;
  color: #5B7083;
  font-weight: 600;
  margin: 1rem;
}

.error {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.error-content {
  text-align: center;
}
.error-content__title {
  font-size: 15rem;
}
.error-content__subtitle {
  font-size: 2.5rem;
}
.error-content__description {
  font-size: 1.2rem;
  margin-top: 1rem;
}

/*# sourceMappingURL=main.css.map */
